<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <%= NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="counseling, counselor, counselling, counsellor, therapist, therapy, Christian, individual, couple, family, london, ontario, Canada, Patricia Van Reenen, psychoanalysis, psychotherapy" />
  <meta name="description" content="<%= @page_desc %>" />
  <meta name="verify-v1" content="bOWyNCW8res8xpx05kVSzWbnsBJ0loXoEesjq3GLI9k=" />
  <meta name="google-site-verification" content="ii2Z3wsYu3Bvhhw3gyDUi2p1gIGByNz-urSRPg6zJb8" />

  <title><%= @page_name %> - Patricia Van Reenen, M.S.W., R.S.W.</title>

  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css" />
  <!--[if lte IE 7]>
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.ie6.css" />
  <![endif]-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&key=<%= ENV['MAPS_API_KEY'] %>" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function()
    {
      initializeApp("<%= request.path_info %>");
    });
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
  <body>
    <div id="container">
      <div id="header">
        <img src="/images/logo-bl-gr.png" width="800" height="150" alt="Counsellor Patricia Van Reenen, M.S.W., R.S.W." />
      </div>
      <div id="main">
        <div id="main-nav-back">
          <div id="main-nav">
            <ul>
              <%= menu_item('Home', '/') %>
              <%= menu_item('About', '/about') %>
              <%= menu_item('Services', '/services') %>
              <%= menu_item('Fees &amp; Hours', '/fees_hours') %>
              <%= menu_item('Location', '/location') %>
              <%= menu_item('Contact', '/contact') %>
              <%= menu_item('FAQ', '/faq') %>
              <%= menu_item('Resources', '/resources') %>
            </ul>
            <div id="psychToday">
              <!--Professional verification provided by therapists.psychologytoday.com -->
              <a class="new-window" href="http://therapists.psychologytoday.com/rms/prof_detail.php?profid=58234&p=10&tr=Ext_Verify">
              <img height="33" width="122" src="/images/verified_psychtoday.gif" class="noborder" alt="verified by Psychology Today"/></a>
              <!--End Verification -->
            </div>
          </div><!--main-nav-->
        </div><!--main-nav-back-->
        <div id="main-content-back">
          <div id="main-content">
            <%= yield %>
          </div><!--main-content-->
        </div><!--main-content-back-->
      </div><!--main-->
      <div id="footer-back">
        <div id="footer-content">
          <a href="about_site">About this Site</a> | <a href="privacy">Privacy Policy</a> | <a href="contact_web">Contact the Webmaster</a><br />
          &copy; <%= Time.now.year %> Patricia Van Reenen<br />
        </div><!--footer-content-->
      </div><!--footer-back-->
    </div><!--containter-->
    <%= NewRelic::Agent.browser_timing_footer rescue "" %>
  </body>
</html>
